doctype html
html
	head
		title Daily Trademarks
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/magnific-popup.css")
		link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css")

		script(src="//code.jquery.com/jquery-1.11.2.min.js")
		script(src="js/isotope.pkgd.min.js")
		script(src="js/jquery.magnific-popup.min.js")
		script(src="//cdn.jsdelivr.net/jquery.lazyloadxt/1.0.0/jquery.lazyloadxt.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js")
	body
		div(id="header") See What People Want To Trademark Today (db of: #{date})
		div(class="container")
		div(id="marker")
		script(src="js/main.js")
